*{
  /* font-family: 'Nothing You Could Do', cursive;
  font-family: 'Permanent Marker', cursive; */
  font-family: 'Roboto', sans-serif;
  margin:0;
}
.app{
  height: 100vh;

  h1, .h1{
    font-size: 50px;
  }

  h2, .h2{
    font-size: 35px;
  }
  h3, .h3, .typedTxt{
    font-size: 25px;
  }

  .sections{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: bisque;
    position: relative;
    top:70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    
    // scrollbar-width: none;  
    // &::-webkit-scrollbar{
    //   display: none;
    // }

    > *{
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}